# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare Dockerfile as text
Dockerfile text

# Declare files that will always have LF line endings on checkout
*.sh text eol=lf
*.bash text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.env.example text eol=lf
Dockerfile text eol=lf

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary